/** 清除浮动 */
%clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

/** 美化原生滚动条 */
%scrollbar {
  // 整个滚动条
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  // 滚动条上的滚动滑块
  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #90939955;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: #90939977;
  }
  &::-webkit-scrollbar-thumb:active {
    background-color: #90939999;
  }
  // 当同时有垂直滚动条和水平滚动条时交汇的部分
  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }
}

/** 文本溢出时显示省略号 */
%ellipsis {
  // 隐藏溢出的文本
  overflow: hidden;
  // 防止文本换行
  white-space: nowrap;
  // 文本内容溢出容器时，文本末尾显示省略号
  text-overflow: ellipsis;
}

/** 弹性布局 */
@mixin flex-left {
  display: flex;
  justify-content: start;
}
@mixin flex-left-start {
  display: flex;
  align-content: start;
  justify-content: start;
}

@mixin flex-left-center {
  display: flex;
  justify-content: start;
  align-items: center;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
}

@mixin flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-right {
  display: flex;
  justify-content: right;
}

@mixin flex-right-center {
  display: flex;
  justify-content: right;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
}

@mixin flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-around {
  display: flex;
  justify-content: space-around;
}

@mixin flex-around-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@mixin flex-column-start {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin flex-column-end {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

@mixin flex-column-end-center {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

@mixin flex-column-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@mixin flex-column-around {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@mixin flex-column-start-center {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

@mixin flex-column-start-end {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
}

@mixin flex-column-center-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flex-column-center-end {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}

